<ion-view view-title="Categorías">
	<ion-side-menus enable-menu-with-back-views="false">

		<ion-side-menu-content class="login-background">
			<ion-nav-bar class="bar clothes-bar">
				<ion-nav-back-button>
				</ion-nav-back-button>

				<ion-nav-buttons side="left">
					<button class="button button-left button-icon button-clear ion-navicon" menu-toggle="left">
					</button>
				</ion-nav-buttons>
			</ion-nav-bar>

			<div class="login-header">
				<div class="app-title" align="center">
					<img class="icon" src="img/logo.png">
				</div>
			</div>
			<ion-scroll direction="y" style="min-height: 1000px">
				<div class="row">
					<div class="col" align="center">
						<img class="clothes-btn" src="img/btn_01.png" ng-click="edicion('Formal', 1, 'formal')">
					</div>
				</div>
				<div class="row">
					<div class="col" align="center">
						<img class="clothes-btn" src="img/btn_02.png" ng-click="edicion('Casual', 2, 'casual')">
					</div>
				</div>
				<div class="row">
					<div class="col" align="center">
						<img class="clothes-btn" src="img/btn_03.png" ng-click="edicion('Etiqueta', 3, 'etiqueta')">
					</div>
				</div>
				<div class="row">
					<div class="col" align="center">
						<img class="clothes-btn" src="img/btn_04.png" ng-click="edicion('Coctel', 4, 'coctel')">
					</div>
				</div>
				<div class="row">
					<div class="col" align="center">
						<img class="clothes-btn" src="img/btn_05.png" ng-click="edicion('Deportiva', 5, 'deportiva')">
					</div>
				</div>
			</ion-scroll>

		</ion-side-menu-content> 

		<ion-side-menu side="left">
			<ion-header-bar class="bar bar-custom">
				<h1 class="title">{{storage.username}}</h1>
			</ion-header-bar>
			<ion-content>
				<ul class="list">
					<!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
					<a class="item" menu-close ng-click="logout()">Salir</a>
				</ul>
			</ion-content>
		</ion-side-menu>

	</ion-side-menus>

	<!-- <ion-header-bar>
  		<button class="button icon-left ion-android-menu button-clear button-dark" ng-click="edicionGoBack()"></button>
    	<h1 class="title">Selecciona Categoría</h1>
  	</ion-header-bar>
	<ion-content class="login-background">
		<div class="login-header">
			<div class="app-title" align="center">
				<img class="icon" src="img/icon_dress_color.png">
				<img class="title" src="img/dress_color.png">
				<img class="sub" src="img/ideas_inspiration.png">
			</div>
		</div>
		<ion-scroll direction="y" style="min-height: 300px">
			<div class="row">
				<div class="col" align="center">
					<img class="clothes-btn" src="../img/btn_01.png" ng-click="edicion('Boda / Formal')">
				</div>
			</div>
			<div class="row">
				<div class="col" align="center">
					<img class="clothes-btn" src="../img/btn_02.png" ng-click="edicion('Trabajo')">
				</div>
			</div>
			<div class="row">
				<div class="col" align="center">
					<img class="clothes-btn" src="../img/btn_03.png" ng-click="edicion('Casual')">
				</div>
			</div>
			<div class="row">
				<div class="col" align="center">
					<img class="clothes-btn" src="../img/btn_04.png" ng-click="edicion('Fiesta / Antro')">
				</div>
			</div>
			<div class="row">
				<div class="col" align="center">
					<img class="clothes-btn" src="../img/btn_05.png" ng-click="edicion('Sport')">
				</div>
			</div>
		</ion-scroll>
	</ion-content>-->
</ion-view>