<ion-view view-title="{{nombreCategoria}}">
    <ion-header-bar class="bar" style="background-color: #3b0503;">
        <i class="button button-icon button-clear icon-left ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
        <h1 class="title" style="color: #fff;">{{nombreCategoria}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col prenda f-co-to" align="center">
                <img src="img/prendas/women/coctel/bo/bl.png" style=" width: 75px; margin-top: 20%;margin-left: 20%; position: absolute; z-index: 100;" id="bo" ng-click="chooseClothe('bo')">
                <div class="swiper-container clothes">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="active-clothe" style="top: 50% !important;"></div>
                            <img src="img/prendas/women/coctel/ve/b.png" id="ve" class="o" ng-click="chooseClothe('ve')">
                        </div>
                        <div class="swiper-slide">
                            <div class="active-clothe"></div>
                            <img src="img/prendas/women/coctel/vc/b.png" id="vc" class="t" ng-click="chooseClothe('vc')">
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col prenda f-co-ta" align="center">
                <div class="active-clothe" style="top: 50% !important;""></div>
                <img src="img/prendas/women/formal/ta/bl.png" class="o" id="ta" ng-click="chooseClothe('ta')">
            </div>
        </div>
        <div class="row colors-row">
            <div class="col" align="center">
                <div class="swiper-container colors">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <button class="button button-icon" ng-click="restartClothes()"><i class="ion-refresh" style="font-size: 2rem;"></i></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #707500;" class="color-btn" id="dColor" ng-click="colorButton('d')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #183875;" class="color-btn" id="bColor" ng-click="colorButton('b')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #686868;" class="color-btn" id="gColor" ng-click="colorButton('g')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #8f5916;" class="color-btn" id="cColor" ng-click="colorButton('c')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #000000;" class="color-btn" id="blColor" ng-click="colorButton('bl')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #da1515;" class="color-btn" id="rColor" ng-click="colorButton('r')"></button>
                        </div>
                        <!-- <div class="swiper-slide">
                            <button style="background-color: #e8c5a6;" class="color-btn" id="brColor" ng-click="colorButton('k')"></button>
                        </div> -->
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bottom-bar tabs tabs-stable navigation-buttons" style="padding-top: 10px">
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
        </div>
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-android-share-alt" style="color: #fff;" ng-click="fbShare()"></i>
        </div>
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-shuffle" style="color: #fff;" ng-click="goRandom('sport')"></i>
        </div>
    </ion-footer-bar>
</ion-view>
