<ion-view view-title="{{nombreCategoria}}">
    <ion-header-bar class="bar" style="background-color: #3b0503;">
        <i class="button button-icon button-clear icon-left ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
        <h1 class="title" style="color: #fff;">{{nombreCategoria}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col prenda f-et-to" align="center">
                <img src="img/prendas/women/etiqueta/bo/bl.png" style=" width: 75px; margin-top: 25%;margin-left: 20%; position: absolute; z-index: 100;" id="bo" ng-click="chooseClothe('bo')">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="active-clothe" style="top: 50%;"></div>
                            <img src="img/prendas/women/etiqueta/ve/bl.png" id="ve" class="o" ng-click="chooseClothe('ve')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col prenda f-et-ta" align="center">
                <div class="active-clothe" style="top: 50% !important;"></div>
                <img src="img/prendas/women/formal/ta/bl.png" class="o" id="ta" ng-click="chooseClothe('ta')">
            </div>
        </div>
        <div class="row colors-row">
            <div class="col" align="center">
                <div class="swiper-container colors">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <button class="button button-icon" ng-click="restartClothes()"><i class="ion-refresh" style="font-size: 2rem;"></i></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #502b62;" class="color-btn" id="puColor" ng-click="colorButton('pu')"></button>      
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #686868;" class="color-btn" id="gColor" ng-click="colorButton('g')"></button>      
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #000000;" class="color-btn" id="blColor" ng-click="colorButton('bl')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #da1515;" class="color-btn" id="rColor" ng-click="colorButton('r')"></button>      
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #965f16;" class="color-btn" id="brColor" ng-click="colorButton('br')"></button>      
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bottom-bar tabs tabs-stable navigation-buttons" style="padding-top: 10px">
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
        </div>
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-android-share-alt" style="color: #fff;" ng-click="fbShare()"></i>
        </div>
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-shuffle" style="color: #fff;" ng-click="goRandom('sport')"></i>
        </div>
    </ion-footer-bar>
</ion-view>