<ion-view view-title="{{nombreCategoria}}">
    <ion-header-bar class="bar" style="background-color: #3b0503;">
        <i class="button button-icon button-clear icon-left ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
        <h1 class="title" style="color: #fff;">{{nombreCategoria}}</h1>
    </ion-header-bar>
    <ion-content class="has-footer">
        <div class="row">
            <div class="col prenda f-sp-to" align="center">
                <div class="swiper-container clothes">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="active-clothe"></div>
                            <img src="img/prendas/women/sport/pl/b.png" class="o" id="pl" ng-click="chooseClothe('pl')">
                        </div>
                        <div class="swiper-slide">
                            <div class="active-clothe"></div>
                            <img src="img/prendas/women/sport/ch/b.png" class="th" id="ch" ng-click="chooseClothe('ch')">
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col prenda f-sp-pi" align="center">
                <div class="swiper-container clothes">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="active-clothe"></div>
                            <img src="img/prendas/women/sport/pa/b.png" class="o" id="pa" ng-click="chooseClothe('pa')">
                        </div>
                        <div class="swiper-slide">
                            <div class="active-clothe"></div>
                            <img src="img/prendas/women/sport/sh/g.png" class="th" id="sh" ng-click="chooseClothe('sh')">
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col prenda f-sp-ft" align="center">
                <div class="active-clothe"></div>
                <img src="img/prendas/women/sport/za/g.png" id="za" class="o" ng-click="chooseClothe('za')">
            </div>
        </div>
        <div class="row colors-row">
            <div class="col" align="center">
                <div class="swiper-container colors">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <button class="button button-icon" ng-click="restartClothes()"><i class="ion-refresh" style="font-size: 2rem;"></i></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #d4aa1b;" class="color-btn" id="yColor" ng-click="colorButton('y')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #10708f;" class="color-btn" id="cColor" ng-click="colorButton('c')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #183875;" class="color-btn" id="bColor" ng-click="colorButton('b')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #686868;" class="color-btn" id="gColor" ng-click="colorButton('g')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #d55771;" class="color-btn" id="chColor" ng-click="colorButton('ch')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #000000;" class="color-btn" id="blColor" ng-click="colorButton('bl')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #ce6e09;" class="color-btn" id="oColor" ng-click="colorButton('o')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #da1515;" class="color-btn" id="rColor" ng-click="colorButton('r')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #d233b6;" class="color-btn" id="pColor" ng-click="colorButton('p')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #509e4d;" class="color-btn" id="grColor" ng-click="colorButton('gr')"></button>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bottom-bar tabs tabs-stable navigation-buttons" style="padding-top: 10px">
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
        </div>
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-android-share-alt" style="color: #fff;" ng-click="fbShare()"></i>
        </div>
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-shuffle" style="color: #fff;" ng-click="goRandom('sport')"></i>
        </div>
    </ion-footer-bar>
</ion-view>
