<ion-view view-title="Log In">
	<ion-content class="login-background">
		<div class="login-header">
			<div class="app-title" align="center">
				<img class="icon" src="img/logo.png">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3 style="color: #fff; text-align:center;">Elige tu género</h3>
			</div>
		</div>
		<div class="row">
			<div class="col" align="center">
				<button class="button icon ion-female gender-btn gender-btn-disabled" id="female" ng-model="button" ng-click="chooseGender(0)"></button>
				<h4 style="text-align:center; color: #fff;">Femenino</h4>
			</div>
			<div class="col" align="center">
				<button class="button icon ion-male gender-btn gender-btn-disabled" id="male" ng-model="button" ng-click="chooseGender(1)"></button>
				<h4 style="text-align:center; color: #fff;">Masculino</h4>
			</div>
		</div>
		<div class="row">
			<div class="col" align="center">
				<button class="button button-positive clothes-btn" ng-click="fbLogin()">Ingresa con Facebook</button>
			</div>
		</div>
		<div class="row">
			<div class="col" align="center">
				<button class="button clothes-btn" ng-click="omitir()">Omitir</button>
			</div>
		</div>
	</ion-content>
</ion-view>