<ion-view view-title="{{nombreCategoria}}">
    <ion-header-bar class="bar" style="background-color: #3b0503;">
        <i class="button button-icon button-clear icon-left ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
        <h1 class="title" style="color: #fff;">{{nombreCategoria}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col prenda m-co-to" align="center">
                <div class="swiper-container clothes">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="active-clothe"></div>
                            <img src="img/prendas/men/coctel/ca/w.png" class="o-o cl-ca" id="ca" ng-click="chooseClothe('ca')">
                            <img src="img/prendas/men/coctel/co/bl.png" class="th cl-co" id="co" ng-click="chooseClothe('co')" style="margin-left: -200px; z-index: 100;">
                        </div>
                        <div class="swiper-slide po">
                            <div class="active-clothe"></div>
                            <img src="img/prendas/men/coctel/ca/w.png" class="o cl-ca">
                            <img src="img/prendas/men/coctel/sa/k.png" class="t cl-sa" id="sa" ng-click="chooseClothe('sa')">
                            <img src="img/prendas/men/coctel/co/bl.png" class="th cl-co" style="margin-top: 20px !important;">
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col prenda m-co-pi" align="center">
                <div class="active-clothe"></div>
                <img src="img/prendas/men/coctel/pa/k.png" class="o" id="pa" ng-click="chooseClothe('pa')">
                <img src="img/prendas/men/coctel/ci/bl.png" class="t" id="ci">
            </div>
        </div>
        <div class="row">
            <div class="col prenda m-co-ft" align="center">
                <div class="swiper-slide">
                    <div class="active-clothe"></div>
                    <img src="img/prendas/men/coctel/za/bl.png" id="za" ng-click="chooseClothe('za')">
                </div>
            </div>
        </div>
        <div class="row colors-row">
            <div class="col" align="center">
                <div class="swiper-container colors">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <button class="button button-icon" ng-click="restartClothes()"><i class="ion-refresh" style="font-size: 2rem;"></i></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #183875;" class="color-btn" id="bColor" ng-click="colorButton('b')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #686868;" class="color-btn" id="gColor" ng-click="colorButton('g')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #a04e36;" class="color-btn" id="brColor" ng-click="colorButton('br')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #d233b6;" class="color-btn" id="pColor" ng-click="colorButton('p')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #000;" class="color-btn" id="blColor" ng-click="colorButton('bl')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #ffffff; border: 1px solid #eee" class="color-btn" id="wColor" ng-click="colorButton('w')"></button>
                        </div>
                        <div class="swiper-slide">
                            <button style="background-color: #644d3d;" class="color-btn" id="kColor" ng-click="colorButton('k')"></button>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bottom-bar tabs tabs-stable navigation-buttons" style="padding-top: 10px">
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
        </div>
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-android-share-alt" style="color: #fff;" ng-click="fbShare()"></i>
        </div>
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-shuffle" style="color: #fff;" ng-click="goRandom('sport')"></i>
        </div>
    </ion-footer-bar>
</ion-view>
