<ion-view view-title="{{nombreCategoria}}">
  	<ion-header-bar class="bar" style="background-color: #3b0503;">
        <i class="button button-icon button-clear icon-left ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
    	<h1 class="title" style="color: #fff;">{{nombreCategoria}}</h1>
  	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col prenda m-et-to" align="center">
				<div class="swiper-container clothes">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="img/prendas/men/etiqueta/tr/n.png">
							<img src="img/prendas/men/etiqueta/co/g.png" class="o">
						</div>
						<div class="swiper-slide">
							<img src="img/prendas/men/etiqueta/tr/n.png">
							<img src="img/prendas/men/etiqueta/co/bl.png" class="o">
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>

		</div>
	</ion-content>
	<ion-footer-bar class="bottom-bar tabs tabs-stable navigation-buttons" style="padding-top: 10px">
		<div class="tab-item tab-item-active">
			<i class="button button-icon button-clear ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
		</div>
		<div class="tab-item tab-item-active">
			<i class="button button-icon button-clear ion-android-share-alt" style="color: #fff;" ng-click="fbShare()"></i>
		</div>
		<div class="tab-item tab-item-active">
			<i class="button button-icon button-clear ion-shuffle" style="color: #fff;" ng-click="goRandom('sport')"></i>
		</div>
	</ion-footer-bar>
</ion-view>
