<ion-view view-title="{{nombreCategoria}}">
  	<ion-header-bar class="bar" style="background-color: #3b0503;">
        <i class="button button-icon button-clear icon-left ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
    	<h1 class="title" style="color: #fff;">{{nombreCategoria}}</h1>
  	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col prenda m-fo-to" align="center">
				<div class="swiper-container clothes">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
                    		<div class="active-clothe"></div>
							<img src="img/prendas/men/formal/ca/w.png" class="o cl-ca" id="ca" ng-click="chooseClothe('ca')" style="position:relative!important;">
              				<img src="img/prendas/men/formal/cr/g.png" class="th cl-cr" id="cr" style="margin-left: -175px; z-index: 100;" ng-click="chooseClothe('cr')">
						</div>
						<div class="swiper-slide">
                    		<div class="active-clothe"></div>
							<img src="img/prendas/men/formal/sa/bl.png" class="o cl-sa" id="sa_t" ng-click="chooseClothe('sa_t')">
							<img src="img/prendas/men/formal/ca/w.png" class="t cl-ca" ng-click="toastShirt()">
							<img src="img/prendas/men/formal/cr/g.png" class="th cl-cr" style="margin-top: 20px !important;">
						</div>
					</div>
					<div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col prenda m-fo-pi" align="center">
                <div class="active-clothe"></div>
				<img src="img/prendas/men/formal/ci/bl.png" class="o" id="ci">
				<img src="img/prendas/men/formal/pa/bl.png" class="t" id="pa" ng-click="chooseClothe('pa')">
			</div>
		</div>
		<div class="row">
			<div class="col prenda m-fo-ft" align="center">
                <div class="active-clothe" style="top: -10px !important;"></div>
				<img src="img/prendas/men/formal/za/bl.png" id="za" ng-click="chooseClothe('za'); toastShoes();" >
			</div>
		</div>
		<div class="row colors-row">
			<div class="col" align="center">
				<div class="swiper-container colors">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<button class="button button-icon" ng-click="restartClothes()"><i class="ion-refresh" style="font-size: 2rem;"></i></button>
						</div>
						<div class="swiper-slide">
							<button style="background-color: #183875;" class="color-btn" id="bColor" ng-click="colorButton('b')"></button>
						</div>
						<div class="swiper-slide">
							<button style="background-color: #333;" class="color-btn" id="gColor" ng-click="colorButton('g')"></button>
						</div>
						<div class="swiper-slide">
							<button style="background-color: #000000;" class="color-btn" id="blColor" ng-click="colorButton('bl')"></button>
						</div>
						<div class="swiper-slide">
							<button style="background-color: #686868;" class="color-btn" id="oxColor" ng-click="colorButton('ox')"></button>
						</div>
						<div class="swiper-slide">
							<button style="background-color: #ffffff; border: 1px solid #eee;" class="color-btn" id="wColor" ng-click="colorButton('w')"></button>
						</div>
						<div class="swiper-slide">
                            <button style="background-color: #a04e36;" class="color-btn" id="brColor" ng-click="colorButton('br')"></button>
                        </div>
					</div>
					<div class="swiper-scrollbar"></div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="bottom-bar tabs tabs-stable navigation-buttons" style="padding-top: 10px">
		<div class="tab-item tab-item-active">
			<i class="button button-icon button-clear ion-arrow-left-c" style="color: #fff;" ng-click="edicionGoBack()"></i>
		</div>
		<div class="tab-item tab-item-active">
			<i class="button button-icon button-clear ion-android-share-alt" style="color: #fff;" ng-click="fbShare()"></i>
		</div>
		<div class="tab-item tab-item-active">
			<i class="button button-icon button-clear ion-shuffle" style="color: #fff;" ng-click="goRandom('sport')"></i>
		</div>
	</ion-footer-bar>
</ion-view>
