<ion-view view-title="{{categoryName}}Random" data-ng-init="getRandomClothe()">
    <ion-header-bar class="bar" style="background-color: #3b0503;">
        <i class="button button-icon button-clear icon-left" style="color: #fff;"></i>
        <h1 class="title" style="color: #fff;">Aleatorio</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
        </div>
        <div class="row">
            <div class="col" align="center">
                <button class="button button-small button-positive" ng-click="getRandomClothe()">Generar conjunto</button>
            </div>
            <div class="col prenda f-ca-to" align="center">
                <img src="" id="clothe" style="max-width: 175px">
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bottom-bar tabs tabs-stable navigation-buttons" style="padding-top: 10px">
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-arrow-left-c" style="color: #fff;" ng-click="goBack()"></i>
        </div>
        <div class="tab-item tab-item-active">
            <i class="button button-icon button-clear ion-android-share-alt" style="color: #fff;" ng-click="fbShare()"></i>
        </div>
    </ion-footer-bar>
</ion-view>