<ion-view view-title="{{nombreCategoria}}">
    <ion-header-bar class="bar" style="background-color: #3b0503;">
        <i class="button button-icon button-clear icon-left ion-navicon" style="color: #fff;" ng-click="edicionGoBack()"></i>
        <h1 class="title" style="color: #fff;">{{nombreCategoria}}</h1>
    </ion-header-bar>
    <ion-content>
	 <div class="row">
         <div class="swiper-wrapper product" style="position:relative;width: 100%; min-height: 400px;">
            <div style="position: inherit; z-index: 40 padding-left: 100px;">
                <img src="img/prendas/mas/ca_0.png" class="o"  style="width: 200px; position: absolute; margin-left: 22.5px;" >
                <img src="img/prendas/mas/ca_m_2.png" class="o" id="mask" style="width: 200px; position: absolute; margin-left: 22.5px;" ng-click="notify()">
            </div>
            <div class="product-img" style="position: inherit; margin-top: 160px; z-index: 50;">
                <img src="img/prendas/mas/ca_me_0.png" class="o"  style="width: 150px; position: absolute; margin-left: 50px;">
                <img src="img/prendas/mas/ca_me_m_2.png" class="o" id="mask2" style="width: 150px; position: absolute; margin-left: 50px;">
            </div>
            <div class="swatch" style="position: relative;">
                <a rel="32,223,95" href="#mask" title="Green" id="twu">Green</a>
                <a rel="255,211,8" href="#mask" title="Yellow">Yellow</a>
            </div>
         </div>
     </div>
</ion-content>
</ion-view>