/* Empty. Add your own CSS if you like */
.swiper-slide img{
	transition: width .5s;
}

.swiper-button-prev, .swiper-button-next{
	border-radius: 50%;
	border: 3px solid #007aff;
	background-size: 13.5px 13.5px !important;
}

.login-background{
	background-image: url('../img/splash.jpg');
	background-position: center;
	background-size: 100% 100%;
	min-height: 100% !important;
	background-color: #000;
}

.login-header{
	background-image: url('../img/header_magenta.png');
	background-size: 100% 100%;
	width: 100%;
	height: 150px;
	padding: 15px 0;
}

.login-header .app-title .icon{
	width: 100px;
	display: block;
	height: auto;
	padding: 5px 0;
}

.login-header .app-title .title{
	width: 150px;
	display: block;
	height: auto;
	padding: 5px 0;
}

.login-header .app-title .sub{
	width: 100px;
	display: block;
	height: auto;
	padding: 5px 0;
}

.gender-btn-disabled{
	background-color: transparent !important;
	border: 1px solid #fff !important;
	color: #fff !important;
}

.gender-btn-enabled{
	background-color: #fff !important;
	border: 1px solid #fff !important;
	color: #000 !important;
}

.clothes-btn{
	width: 80%;
	max-width: 200px;
	max-height: 50px;
	height: auto;
}

.categoria-btn{
	text-align: left;
	text-transform: uppercase;
	max-width: 400px;
}

.clothes-bar{
	background-color: transparent !important;
	border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.bar-custom{
	background-color: #410604 !important;
	color: #fff !important;
}

.bar-custom .title{
	color: #fff !important;
}

.clothes-bar .button-clear{
	color: #fff;
}

.color-btn{
	width: 2rem;
	height: 2rem;
	border: none;
	border-radius: 50%;
	box-shadow: 1px 5px 10px #333333;
	display: block;
}

.color-btn-disabled{
	display: none;
}

.choosen{
	box-shadow: -40px -10px 100px -40px #29F52A, 40px -10px 100px -40px #29F52A;
}

/** Clothes **/
.description{
	color: #3b0503;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.prenda img{
	/*position:absolute;*/
	position: relative;
}

.prenda .icon{
	font-size: 24px;
}
	/*	Prendas Global	*/

.f-ta{
	margin-top: -30px;
	position: relative;
}

.f-ta .o{
	width: 70px;
}

	/*	\.Prendas Global	*/

	/*	Casual	*/

		/* Masculino */

.m-ca-to{
	z-index: 60;
}

.m-ca-to .o{
	width: 160px;
	max-height: 400px;
}

.m-ca-to .t{
}

.m-ca-to .t{
	width: 150px !important;
	height: 180px;
}

.m-ca-pi{
	z-index: 50;
	margin-top: -70px;
	margin-left: 2.5px;
}

.m-ca-pi .o{
	margin-top: -2.5px;
	width: 110px;
	max-height: 320px;
}

.m-ca-pi .t{
	position: absolute;
	width: 85px;
	height: 15px;
	/*margin-top: 5px;*/
	margin-left: -100px;
}

.m-ca-pi .th{
  width: 100px;
  margin-left: -7.5px;
}

.m-ca-pi .ci{
	width: 87.5px;
	position: absolute;
	z-index: 65;
	margin-left: 7.5px;
}

.m-ca-ft{
	z-index: 40;
	margin-top: -30px;
	margin-left: 8px;
}

.m-ca-ft img{
	width: 100px;
	margin-top: -5px;
	margin-left: 10px;
}

		/* Femenino */

.f-ca-to{
	z-index: 60;
}

.f-ca-to .o{
	width: 130px;
}

.f-ca-to .t{
	width: 140px;
  height: 170px;
}

.f-ca-pi{
	margin-top: -60px;
}

.f-ca-pi .o{
	width: 90px;
}

.f-ca-pi .t{
	width: 90px;
}

.f-ca-pi .th{
	width: 90px;
}

.f-ca-pi .f{
	width: 90px;
}

.f-ca-pi .fi{
	width: 90px;
}

.f-ca-ta{
	margin-top: -10px;
	margin-left: 2.5px;
	position: relative;
}

.f-ca-ta .o{
	width: 70px;

}

	/*	\.Casual	*/

	/* Coctel */

		/* Masculino */
.m-co-to {

}

.m-co-to .o-o{
	position: relative;
	width: 160px;
	height: 165px;
	z-index: 20;
}

.m-co-to .o{
	position: absolute;
	margin-top: -2.5px;
	width: 160px;
	height: 165px;
	z-index: 20;
}

.m-co-to .t{
	width: 160px;
	z-index: 70;
}

.m-co-to .th{
	position: absolute;
	width: 35px;
	max-height: 100px;
	margin-left: -95px;
	margin-top: 60px;
	z-index: 65;
}

.m-co-pi{
	margin-top: -75px;
	margin-left: 2px;
}

.m-co-pi .o{
	width: 105px;
	max-height: 320px;
}

.m-co-pi .t{
	position: absolute;
	width: 82.5px;
	margin-left: -95px;
	/*margin-top: 10px;*/
}

.m-co-ft{
	margin-top: -25px;
	margin-left: 15px;
}

.m-co-ft img{
	width: 100px;
}

		/* Femenino */

	/* \.Coctel */

.f-co-to{

}

.f-co-to .o{
	width: 120px;
}
.f-co-to .t{
  width: 220px;
}

.f-co-ta{
	position: relative;
}

.f-co-ta .o{
  margin-top: 50px;
	width: 70px;
}

	/* Etiqueta */

		/* Masculino */

.m-et-to img{
	z-index: 50;
	width: 140px;
	max-height: 400px;
}

.m-et-to .o{
	position: absolute;
	width: 16px;
	z-index: 55px;
	margin-left: -76px;
	margin-top: 10px;
}

		/* Femenino */

	/* \.Etiqueta */

.f-et-to{
	z-index: 60;
}

.f-et-to .o{
	width: 300px;
	height: 310px;
}

.f-et-ta{
	position: relative;
	margin-top: -50px;
}

.f-et-ta .o{
	width: 80px;
	margin-top: 35px;
}

	/*	Formal	*/

		/* Masculino */

.m-fo-to img{
	z-index: 55;
	width: 140px;
}

.m-fo-to .o{
	position: absolute;
	z-index: 65;
	margin-top: 5px;
}

.m-fo-to .t{
	height: 160px;
	z-index: 55;
	padding: 1px;
}

.m-fo-to .th{
	position: absolute;
	width: 35px;
	max-height: 95px;
	margin-left: -85px;
	margin-top: 60px;
}

.m-fo-pi .o{
	position: absolute;
	width: 75px;
	margin-top: -55px;
	margin-left: 10px;
}

.m-fo-pi .t{
	margin-top: -55px;
	margin-left: 2.5px;
	width: 95px;
}
.m-fo-ft{
	position: relative;
}

.m-fo-ft img{
	position: absolute;
	width: 90px;
	margin-top: -25px;
	margin-left: -37.5px;
}

		/* Femenino */

.f-fo-to{
	z-index: 60;
}

.f-fo-to .o{
	width: 115px;
}

.f-fo-to .t{
	width: 150px;
  margin-left: -2.5px;
}

.f-fo-to .th{
	position: absolute;
	margin-left: -152.5px;
	width: 155px;
}

.f-fo-pi{
	margin-top: -80px;
	z-index: 55;
}

.f-fo-pi .o{
	width: 90px;
}

.f-fo-pi .t{
	width: 90px;
}

	/*	\.Formal	*/

	/* Sport */

		/* Masculino */
.m-sp-to{
	z-index: 70;
}

.m-sp-to .o{
	width: 140px;
}

.m-sp-to .t{
	width: 140px;
	height: 170px;
}

.m-sp-pi{
	z-index: 60;
	margin-top: -45px;
	/*margin-left: 2.5px;*/
}

.m-sp-pi .o{
	width: 95px;
}

.m-sp-pi .t{
	width: 120px;
}

.m-sp-ft {
	position: relative;
}

.m-sp-ft img{
	width: 105px;
	margin-top: -25px;
	margin-left: -5px;
}

		/* Femenino */

.f-sp-to{
	z-index: 60;
}

.f-sp-to .o{
	width: 140px;
	height: 170px;
}

.f-sp-to .t{
	width: 140px;
	min-height: 152.5px;
	max-height: 152.5px;
	margin-left: 2.5px;
}

.f-sp-to .th{
	width: 140px;
}

.f-sp-pi{
	z-index: 40;
	margin-top: -70px;
}

.f-sp-pi .o{
  margin-top: 10px;
	width: 97.5px;
	height: 215px;
}

.f-sp-pi .t{
	width: 100px;
	max-height: 240px;

}

.f-sp-pi .th{
	width: 110px;
	margin-top: 25px;
}

.f-sp-ft{
	position: relative;
}

.f-sp-ft .o{
  	margin-top: -10px;
	width: 80px;
}

	/* \.Sport */

.active-clothe{
	position: absolute; 
	width: 30px;
	height: 15px;
	content: url(../img/arrow.png);
	transform: rotate(180deg);
	right: 10%;
	top: 40%;
	display: none;
}

.colors-row{
	margin: 15px 0;
	min-height: 75px;
}

.navigation-buttons{
}

.navigation-buttons img{
	padding: 7.5px 5px 5px 5px;
	width: 50px;
	height: 50px;
}

.navigation-buttons .sp{
	width: 40px !important;
	height: 50px !important;
}

.bottom-bar{
	width: 100%;
	min-height: 57.5px;
	background-color: #3b0503 !important;
	border: 0px !important;
    border-top-color: transparent !important;
    border-top: none !important;
}
